header {
  background: url("assets/img/af_pattern_bg.png");
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-bottom: 15vh;
}
header > h1 {
  font-size: 1em;
  margin: 0px;
  color: #FFF;
}
.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #004145;
  margin-bottom: 5rem;
}
.container-2 {
  width: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}
.container > form {
  width: 100%;
}
.container > h1 {
  text-align: center;
  position: relative;
  color: #003145;
  margin-bottom: 4rem;
  font-weight: 600;
  padding: 1rem;
}
.container > p {
  color: #003145;
  padding: 1rem;
}
.container > h1::after {
  content: "";
  border: 3px solid #003145;
  position: absolute;
  top: 11.5rem;
  left: 145px;
  width: 30px;
}
.form-group {
  position: relative;
  z-index: 1;
  padding: 1rem;
}
.form-control:focus {
  border-color: #003145;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-default {
  background-color: #d40504;
  border: none;
  color: #FFF;
  width: 250px;
  padding: 1.3rem 0;
  margin-bottom: 1.75rem;
}
.form-group > small {
  background-color: #d40504;
  color: #FFF;
  border: 1px solid #d40504;
  position: absolute;
  top: 3.2rem;
  right: -17rem;
  z-index: 99;
  padding: 1rem;
  border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
}
.form-group > small:after {
  content: "";
  left: -0.5rem;
  top: 1.35rem;
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #d40504;
}
.btn-default[disabled] {
  opacity: 0.2;
}
.btn-default.disabled.focus, .btn-default.disabled:focus,
.btn-default.disabled:hover, .btn-default.focus[disabled],
.btn-default[disabled]:focus, .btn-default[disabled]:hover,
fieldset[disabled] .btn-default.focus, fieldset[disabled]
.btn-default:focus, fieldset[disabled] .btn-default:hover,
.btn-default.focus, .btn-default:focus, .btn-default:active {
  background-color: #d40504;
  color: #FFF;
  cursor: default;
  outline: 0;
}

@media screen and (max-width: 800px) {
  header {
    margin-bottom: 1vh;
  }
  booking {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    border: none;
  }
  .btn-default {
    width: 95%;
  }
  .form-group > small {
    background: none;
    color: #d40504;
    padding: 0;
    margin: 0;
    left: 1rem;
    top: 7.3rem;
    border: none;
  }
  .form-group > small:after {
    display: none;
  }
}
