.triangle {
  shape-outside: polygon();
}
/*.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid red;
  border-right: 10px solid red;
  border-bottom: 20px solid red;
}
.circle {
  border: 2px solid red;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.rectangle {
  border: 2px solid red;
  width: 20px;
  height: 10px;
}
.diamond {

}
.octagon {

}
.star {

}*/
