#logo {
  
}
li {
  list-style-type: none;
}
li {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin: 0em;
}
p, .cta-1 {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
.hero-text__sub button {
  font-weight: 700;
}
.social-links li {
  font-size: 3em;
}
